@media screen and (min-width: 668 / 16 * 1em)
    .menu
        width: 90%
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        align-items: flex-start
        &__title
            width: 100%
        &__item
            width: 30%
    .order__item
        width: 50%
