.header
    text-align: center

.menu
    &__item
        margin: 0 auto
        width: 90%
        display: flex
        flex-wrap: wrap
        margin-top: 15 / 16 * 1em
    &__title
        text-align: center
        color: $primary-color1
    &__name
        display: inline-block
        width: 80%
        margin: 0
    &__price
        display: inline-block
        margin: 0
        width: 20%
        text-align: right
    &__description
        width: 80%
        margin-top: 5 / 16 * 1em
        margin-bottom: 0
    &__add-button
        //margin-top: 5 / 16 * 1em
        align-self: flex-start
        margin-top: 5 / 16 * 1em
        margin-left: auto
        border: none
        background-color: transparent
        color: $primary-color1

.order
    &__container

        margin-left: 0 auto
        //
        display: none
        position: fixed
        z-index: 1
        left: 0
        top: 0
        width: 100%
        height: 100%
        overflow: auto
        background-color: rgba(0,0,0,0.4)
    &__item
        @extend .menu__item
        margin-top: 1em
    &__name
        display: inline-block
        width: 80%
        margin: 0
    &__price
        display: inline-block
        margin: 0
        width: 20%
        text-align: right
    &__count-container
        //width: 100%
        display: flex
        //align-items: center
    &__count
        margin-left: 10 / 16 * 1em
        margin-right:  10 / 16 * 1em
    &__delete-button
        margin-left: auto
        padding: 0
        border: none
        background-color: transparent
        color: $primary-color1
        padding: 0
    &__header
        text-align: center
    &__total
        width: 90%
        margin: 0 auto
        margin-top: 1em
        margin-bottom: 1em
        display: flex
        flex-direction: column
        align-items: flex-end
    &__close-button
        align-self: flex-end

.order__minus-button, .order__plus-button
    border: none
    background-color: transparent
    color: $primary-color1
    padding: 0
    font-size: 16 / 16 * 1em

.order-list-display-button
    visibility: hidden
    position: fixed
    right: 0
    bottom: 0
    border: none
    background-color: transparent
    &--animated
        animation-name: bounce
        animation-duration: 1.5s

@keyframes bounce
    50%
        transform: translateY(-30 / 16 *1em)



.order__list
    display: flex
    flex-direction: column
    margin: 15% auto
    width: 90%
    background-color: white

.total
    width: 90%
    margin: 0 auto
    margin-top: 20 / 16 * 1em
    text-align: right

.item-added-popup
    display: none
    position: fixed
    top: 50%
    left: 50%
    transform: translateX(-50%)
    z-index: 1
    color: white
    background-color: black
    padding: 10px
    border-radius: 10px
    animation-name: fade-in
    animation-duration: 1500ms
    animation-fill-mode: forwards

@keyframes fade-in
    0%
        opacity: 0
    50%
        opacity: 1
    100%
        opacity: 0
